<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
     initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs do jeito Ninja</title>
</head>
<body>
    
    <div id="app" >
      <h1 v-if="status">{{titulo}}</h1>  

      <ul>
          <li v-for="(item , index) in linguagens">{{index}} - {{item.nome}}</li>
      </ul>

    </div>

    


</body>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            linguagens:[
                {nome: "Javascript"},
                {nome: "C#"},
                {nome: "Java"},
                {nome: "Python"},
                {nome: "C++"},                
            ]
        }

    });
</script>
</html>