<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
     initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJs do jeito Ninja</title>
</head>
<body>
    <div id="app" >

      <h1>{{titulo}}</h1>  

      <label for="">Nome:</label><br/>
      <input type="text" v-model="nome">{{nome}}</input>

      <br/><br/>
      <label for="">Telefone:</label><br/>
      <input type="text" v-model="telefone">{{telefone}}</input>

      <br/><br/>
      
    


</body>

<script src="https://unpkg.com/vue"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            nome: ""
        }

    });
</script>
</html>